.navbar {
  background-color: #000b58;
}

.navbar-brand,
.navbar-brand:hover {
  color: #ffffff;
  font-family: "Fira Sans", serif;
  font-size: 2vw;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-family: "Fira Sans", serif;
  font-size: 1.3vw;
}

.nav-link:hover {
  text-decoration: underline;
}

h1 {
  color: #000b58;
  font-family: "Fira Sans", serif;
  font-size: 4vw;
}

h3 {
  color: #000b58;
  font-family: "Fira Sans", serif;
  font-size: 2vw;
}

.smaller-input {
  width: 50vw;
}

.btn-primary {
  background-color: #000b58;
  border-color: #000b58;
}

.bg-full-width {
  background-color: #000b58;
  width: 100%;
  padding: 20px 25px;
}

.section-header-white h2,
.section-header-white p {
  color: #ffffff;
  font-family: "Fira Sans", serif;
  font-size: 2vw;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chart {
  width: 60vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-text {
  margin-left: 30px;
  max-width: 30%;
}

.white-bg-full-width {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 25px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-header-blue h2,
.section-header-blue h5 {
  color: #000b58;
  font-family: "Fira Sans", serif;
  font-size: 2vw;
}

.section-header-blue p {
  color: #000b58;
  font-family: "Fira Sans", serif;
  font-size: 1.3vw;
}

.smallest-input {
  width: 25vw;
}

.btn-stockPriceInput,
.btn-stockPriceInput:focus {
  background-color: #ffffff;
}

/* #datepicker {
  width: 300px;
} */

@media screen and (max-width: 992px) {
  .navbar-brand,
  .navbar-brand:hover {
    font-size: 20px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }

  h1 {
    color: #000b58;
    font-size: 6vw;
  }

  h3 {
    color: #000b58;
    font-size: 3.5vw;
  }

  .btn {
    font-size: 2vw;
  }

  .smaller-input::placeholder {
    font-size: 2vw;
    color: gray;
  }

  .section-header-white h2,
  .section-header-white p {
    color: #ffffff;
    font-family: "Fira Sans", serif;
    font-size: 3vw;
  }

  .chart-container {
    flex-direction: column;
  }

  .chart {
    width: 80vw;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chart-text {
    margin-top: 20px;
    margin-left: 0px;
    max-width: 100%;
  }

  .chart-text {
    margin-top: 20px;
    margin-left: 0px;
    max-width: 100%;
  }

  .section-header-blue h2,
  .section-header-blue h5 {
    color: #000b58;
    font-family: "Fira Sans", serif;
    font-size: 3vw;
  }

  .section-header-blue p {
    color: #000b58;
    font-family: "Fira Sans", serif;
    font-size: 2.5vw;
  }
}
